@import '../../vars.css';

.container{
    color: var(--color-text);
    width: 70%;
    margin: auto;
    margin-top: 60px;
    margin-bottom: 25px;
    padding: 35px;
}

.title{
    font-size: 35px;
    letter-spacing: 1.75px;
}

.content{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 14px;
    gap: 15px;
}

.skill{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 11px;
}

.skillImg{
    background-color: var(--color-secondary);
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 120px;
    height: 120px;
}

.skillImg img{
    width: 75px;
}

.skill p{
    font-size: 20px;
    font-family: var(--font-roboto);
    font-weight: 500;
}

@media screen and (max-width: 830px){
    .container{
        margin-top: 0px;
        width: 80%;
    }
}