@import '../../vars.css';

.container{
    position: relative;
    background-color: rgba(66, 66, 66, 0.2);
    color: var(--color-text);
    border-radius: 15px;
    width: 70%;
    margin: auto;
    padding: 35px;
    margin-top: 60px;
    z-index: 1;
}

.title{
    font-size: 35px;
    letter-spacing: 1.75px;
}

.content{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.aboutImg{
    width: 50%;
}

.aboutItens{
    list-style: none;
    text-align: justify;
}

.aboutItem{
    margin-bottom: 20px;
}

@media screen and (max-width: 830px){
    .container{
        background: none;
        margin-top: 30px;
        width: 80%;
    }

    .aboutImg{
        display: none;
    }

    .aboutItens{
        margin-top: 30px;
    }
}